
.news-head {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.text-titolo {
    text-align: left;
    width: 60%;
    color: #595959;
    padding: 0% 0% 0% 5%
}

/* 
.text-titolo {
    color: #595959;
    background-color: #fff;
    position: absolute;
    border-radius: 16px;
    width: 75%;
    text-align: left;
    padding: 0% 0% 0% 5%;
  }
  */

.text-sottotitolo {
    color: #595959;
}

.cover-img {
    border-radius: 16px;
    width: auto;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.news-body {
    height: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.text-news {
    text-align: left;
    color: #000;
    padding: 2% 22% 0% 22%;
}